/* @tailwind base; */
@tailwind components;
@tailwind utilities;
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: rgb(220, 220, 220);
  margin: 0 auto;
  border-radius: 10px;
}
.list {
  padding: 30px;
  border-radius: 10px;
  box-shadow: dimgrey 1px 1px 4px 4px;
}
li {
  padding: 5px;
}
input {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  background-color: #ffffff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: dimgrey 1px 1px 1px 1px inset;
}
button {
  border: 0;
  outline: 0;
  cursor: pointer;
  color: rgb(238, 236, 233);
  background-color: dimgray;
  box-shadow: dimgrey 1px 1px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  display: inline-block;
  min-height: 28px;
  transition: background-color 0.24s, box-shadow 0.24s;
}
